.App {
  text-align: center;
}

.new-meme {
  background-color: white;
}
#about-sub {
  color:white;
  border: 2px solid red;
  position: fixed;
  font-size: 14pt;
  text-align:left;
  width: 500px;
  height: 100%;
  background: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.responsive {
  width: 50%;
  height: 50%;
  background-color: transparent !important;
}

.card {
  border: none !important; 
}

.spicymeme {
  color: pink;
  font-weight: 900;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 900px) {
  #about-sub {
    display: none !important;
  }
  .desktopNavbar {
    display: none !important;
  }
  .responsive {
    width: 100%;
    height: 100%;
  }
}

.App-header {
  background-image: url('./itl.cat_vaporwave-wallpaper_23718.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-brand > a {
  color: #cbdfbd !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
